APP_PORT=8080
APP_ENV=development

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ecommerce
DB_SSLMODE=disable

JWT_SECRET=grupo5-super-secret-key-change-in-production
JWT_EXPIRATION_HOURS=24
